*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
body{
    width:100%;
    background-color: #ffffff;
    height:150vh;
}
.nav-one a{
    padding-left: 35px;
    float: left;
    font-size: 25px;
    text-decoration: none;
}
.nav-one{
    background: #9dbbd8;
    width:100%;
    padding: 38px;
    overflow:auto;
}
.logo1 img{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
}
.middle{
    margin-left:200px;

}
.right{
    margin-left:200px;

}
.footer{
    background-color: #2E3440;
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 0;
    padding-right:0;
    width:100%;
}
ul{
    list-style: none;
}
.container{
    max-width: 100%;
    margin:auto;
}
.footer-col h4{
    font-size: 22px;
    color:azure;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:500;
    position:relative;

}
.special{
    padding-right: 30px;
    color:#ffffff;
}
.special h1{
    font-size: 50px;
}
.special h2{
    position:relative;
    margin-bottom: 10px;
    width:35%;
}
.special h2::before{
    content:'';
    position: absolute;
    left:0;
    bottom: -5px;
    background-color: #bbbbbb;
    height: 2px;
    box-sizing: border-box;
    width: 100%;
}
.special input {
    height: 40px;
    width:500px;
}
.special input:not(:last-child){
    margin-top: 20px;
}
.special .submit {
    background-color: #2E3440;
    text-decoration: none;
    color:#bbbbbb;
    font-size:20px;
    font-style:italic;
    border: 1px solid #bbbbbb;
... (84 lines left)
}