@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

.wrapper{
    padding: 70px 50px;
    border: 1px solid #ddd;
    border-radius: 0px;
    margin: 30px auto;
    max-width: 750px;
}
h4{
    letter-spacing: -1px;
    font-weight: 400;
    font-size:3rem!important;
}
.img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}
#img-section p,#deactivate p{
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify;
}
#img-section b,#img-section button,#deactivate b{
    font-size: 14px;
}

label{
    margin-top: 10px;
    margin-bottom: 10px!important;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px;
    font-size: 2rem;
}

.form-control{
    border-radius: 10px;
}

input[placeholder]{
    font-weight: 500;
    font-size: 1.25rem;
}
input{
    font-size: 1.25rem;
}
.form-control:focus{
    box-shadow: none;
    border: 1.5px solid #0779e4;
}
select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus{
    outline: none;
}
.button{
    background-color: #fff;
    color: #0779e4;
    font-size: 1.5rem!important;
}
.button:hover{
    background-color: #0779e4;
    color: #fff;
}
.btn-primary{
    background-color: #36a73b!important;
    background-image: unset!important;
    border-color: #36a73b!important;
    font-size: 1.5rem!important;
    margin-right: 15px;
}
.danger{
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd;
}
.danger:hover{
    background-color: #e20404;
    color: #fff;
}
@media(max-width:576px){
    .wrapper{
        padding: 25px 20px;
    }
    #deactivate{
        line-height: 18px;
    }
}