@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:ital,wght@1,100&family=Rammetto+One&family=Righteous&family=Secular+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
body{
    width:100%;
    background-color:#D8D5CF !important;

}
.nav-one p{
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color:#C5C5C5;
}
.nav-one a{
    font-family: 'Righteous', cursive;
    margin-left: 35px;
    float: left;
    font-size: 25px;
    text-decoration: none;
    color:#C5C5C5;
    display:inline-block;
    position: relative;
}
.nav-one{
    background: #373f4c;
    width:100%;
    padding: 30px;
    overflow:auto;
    }
.logo1 img{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
}
.middle{
    margin-left:500px;
    
}
.right{
    margin-left:200px;
    
}
.form-title{
    text-align: center;
    font-size: 40px;
}
.footer{
    background-color: #2E3440;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right:0;
    width:100%;
}
ul{
    list-style: none;
}
.container2{
    max-width: 100%;

}
.container{
    justify-content: center;
    max-width: 100%;
    margin:auto;
}
.footer-col h4{
font-size: 22px;
color:azure;
text-transform: capitalize;
margin-bottom: 30px;
font-weight:500;
position:relative;

}

.special{
    color:#ffffff;
    width:100%;
    margin-left: 20px;
}
.special h1{
    width:100%;
    font-size: 50px;

}
.special h2{
    position:relative;
    margin-bottom: 10px;
    width:35%;
}
.special h2::before{
    content:'';
    position: absolute;
    left:0;
    bottom: -5px;
    background-color: #bbbbbb;
    height: 2px;
    box-sizing: border-box;
    width: 100%;
}
.special input {
    height: 40px;
    width:500px;
    max-width: 100%;
}
.special .submit {
    background-color: #2E3440;
    text-decoration: none;
    color:#bbbbbb;
    font-size:20px;
    font-style:italic;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;

}
.special p{
    font-family: 'Raleway', sans-serif;
    color: #f7f7f7;
    font-size: larger;
}
.submit:hover{
    background-color:#bbbbbb;
    color:black;
}

.row2{
    margin-left:10px;
    display:flex;

}

.row2:not(:first-child){
    margin-left:20px;

}
.footer-col {
    width: 40%;
    padding: 0 20px;

}
.special h2{
    font-family: 'Rammetto One', cursive;
}
.footer-col h4::before{
    content:'';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color :#e91e63;
    height: 1px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 17px;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    transition:all 0.25s ease;
    display:block;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left:10px;
}
.copy-right{
    margin-top:20px;
}
.copy-right h3{
    position:absolute;
    color:#ffffff;
    font-style: italic;
    margin-left:10px;
}

.nav-second ul{
    margin-right: 10%;
}
.nav-second{
    background-color: #4E4E4E;
    width:100%;
    padding: 12px;
    position: -webkit-sticky;
    position:sticky;
    top:0;
    z-index:3;
    }
.nav-second h1{
    padding: 0 10px;
    color:#C5C5C5;
    font-size: 35px;
    font-family: 'Rammetto One', cursive;

}
.nav-second p{
    font-family: 'Raleway', sans-serif;
    color:#C5C5C5;
    padding-left:26px;
    font-size: 15px;
}

.nav-second li{
    display: table-cell;
    margin-left: 30px;
}
.nav-second a{
    font-family: 'Righteous', cursive;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    display:inline-block;
    position: relative;
    color:#C5C5C5;
}
.nav-second a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-second a:hover:after {
    width: 100%;
    left: 0;
}
.nav-second a:hover{
    color:white;
    text-decoration: none;
}
.nav-one a:hover{
    color:white;
    text-decoration: none;
}
.nav-one a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-one a:hover:after {
    width: 100%;
    left: 0;
}
.form{
    font-size: 20px;
}
#weather{
    font-size: 20px;
}
.special h1{
    font-family: 'Archivo Black', sans-serif;
    font-style: italic;
}
.formchuan{
    padding-top: 150px;
    }
.form-content{
    font-size: 15px;
}
.footer-col .social-links a{
display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color:#ffffff;

}
.search{
    padding-top:30px;
}

.btn-container input{
    background-color: #919191;
    border-radius: 12px;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}
.btn-container input{
    background-color: #a0c591;
    border-radius: 12px;
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}
.btn-container input:hover{
    background-color: #77777c;

}
.welcome-user{
    font-size: 25px;
    color: #ffffff;
    padding-top: 5px;
}

.section-heading h2 {
    margin-top: 0px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #121212;
}


#weather {
    margin-top: 100px;
}

.weather-content {
    background-image: url(../img/weather-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

#weather .tabs {
    list-style: none;
    margin-top: 0px;
    padding-right: 0px;
    background-color: rgba(31, 54, 70, 0.5);}

#weather .tabs li {
    display: inline-block;
    text-align: center;
    margin: 0px -2px;
    width: 20%;
}

#weather .tabs li:last-child {
    margin-left: 2px;
}

#weather .tabs a {
    display:block;
    transition: all 0.5s;
    text-align: left;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing: 0.5px;
    color:#fff;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 0px;
    text-align: center;
}

#weather .tabs a em {
    font-style: normal;
    font-weight: 700;
}

#weather .tabs .active {
    background-color: #ffe165;
}

#weather .weather-item {
    padding: 40px 30px 30px 30px;
    text-align: center;
    display: block;
    background-color: rgba(250, 250, 250, 0.3);
}

.weathergroup {
    padding: 80px 30px;
}

.weather-item h6 {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 0px;
}

.weather-item .weather-icon {
    display: inline-block;
    margin-bottom: 40px;
    width: 64px;
    height: 64px;
}

.weather-item span {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.weather-item ul {
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 40px;
    padding: 30px 20px;
}

.weather-item ul li {
    display: inline-block;
    margin: 0px 10px;
    font-size: 12px;
    font-weight: 700;
    color: #121212;
}

.weather-item ul li span {
    margin-top: 15px;
    font-size: 12px;
    color: #121212;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 8px;
}


.container4{
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 1188px;
    align-items: flex-start;
    padding-top: 24px;
    height: 3000px;
}

.non-float{
    width:58%;
    display: flex;
    margin-right: 24px;
    flex-direction: column;
}
.flex-price{
    width: 40%;
    top:100px;
    display: flex;
    position:sticky;
}
.price-detail{
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 20px;

}
.multi-row{
    display: flex;
    padding: 14px 0 12px 0;
    justify-content: space-between;
    border-bottom: solid 1px #EDF2F7;
    overflow: auto;}
.multi-row:last-child{
    border-bottom: none;
}
.multi-row:nth-last-child(3){
    border-bottom: none;
}
.mini-row{
    font-size: larger;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 1px;
    border-radius: 8px;
    padding: 10px 24px 10px;
    margin-bottom: 30px;
}
.mini-row select{
    height: 30px;
    width: 50px;

}
.mini-row input{
    width: 70%;
    height: 30px;
}
.seat-check{
    color: rgb(253, 253, 253);
    width: 170px;
    border: none;
    height: 48px;
    margin: 0px;
    padding: 13px 8px 6px 20px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 8px;
    text-transform: none;
    background-color: rgb(255, 51, 102);
}
.submit-continue{
    display: flex;
    margin-bottom: 64px;
    justify-content: space-between;
}
.submit-continue input{
    color: rgb(253, 253, 253);
    width: 170px;
    border: none;
    height: 48px;
    margin: 0px;
    padding: 6px 8px;
    font-size: 14px;
    min-height: 20px;
    font-weight: normal;
    border-radius: 8px;
    text-transform: none;
    background-color: rgb(255, 51, 102);
}
.checkboxx input, .checkboxx a{
    width: 20px;
    height: 20px;
}
.services {
    margin-top: 100px;
}

.services .service-item {
    background-color: #709dc5;
    color: #fff;
    padding: 60px 30px 20px 30px;
    text-align: center;
    transition: all 0.5s;
}

.service-item h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.service-item .service-icon {
    margin: 0 auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
}

.first-service .service-icon {
    background-image: url(../img/fast-food.png);
    transition: all 0.5s;
}

.second-service .service-icon {
    background-image: url(../img/delivery.png);
    transition: all 0.5s;
}

.third-service .service-icon {
    background-image: url(../img/airport.png);
    transition: all 0.5s;
}

.service-item:hover {
    color: #121212;
    background-color: #ffe165;
}

.first-service:hover .service-icon {
    background-image: url(../img/fast-food-colored.png);
}

.second-service:hover .service-icon {
    background-image: url(../img/delivery-colored.png);
}


.third-service:hover .service-icon {
    background-image: url(../img/airport-colored.png);
}
















@media (max-width: 991px) {



    #weather .tabs li {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0px 0px;
    }

    #weather .tabs a {
        display:block;
        color:#fff;
        font-size: 13px;
        display: block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        padding-left: 0px;
        text-align: center;
    }

    #weather .weather-item {
        margin-bottom: 30px;
    }

    .weathergroup {
        padding: 30px 30px 10px 30px;
    }

    .service-item {
        margin: 30px 0px;
    }


    .weather-item h6 {
        margin-bottom: 30px;
    }

    .weather-item .weather-icon {
        margin-bottom: 20px;
    }

    .weather-item ul {
        margin-top: 20px;
        padding: 20px 10px;
    }

    .weather-item ul li {
        margin: 0px 5px;
    }


}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

