<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Flight Booking</title>
<!--    <script type="text/javascript" th:src="@{/js/actions.js}"></script>-->

</head>
<body>
<header>
    <div class="nav-list">
        <a>Flight Booking</a>

        <a th:href="@{/login}">Log In</a>
        <a th:href="@{/join}">Sign Up</a>
    </div>

    <div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>

    <div>
        <form action="#" th:action="@{/search}" th:object="${ticketSearchDTO}" method="get">
            <fieldset>
                <div>
                    <legend>Flight booking</legend>
                    <label>From:</label>
                    <select th:field="${ticketSearchDTO.fromLocationCode}">
                        <option th:each="location : ${locations}"
                                th:value="${location.code}"
                                th:selected="${location.code}"
                                th:text="${location.city}+'-'+${location.airport}">
                        </option>
                    </select></br>
                    <label>To:</label>
                    <select th:field="${ticketSearchDTO.toLocationCode}">
                        <option th:each="location : ${locations}"
                                th:value="${location.code}"
                                th:selected="${location.id}"
                                th:text="${location.city}+'-'+${location.airport}">
                        </option>
                    </select></br>
                </div>
                <label for="departuretime">Departure time:</label>
                <input type="date" th:field="${ticketSearchDTO.departureTime}"  id="departuretime"></br>
                <label for="arrivaltime">Arrival time:</label>
                <input type="date" th:field="${ticketSearchDTO.arrivalTime}"   id="arrivaltime"></br>
                <label>Number of passenger:</label></br>
                <a>Adult: </a><input type="number" name="adult" th:min="1" th:max="9" th:field="${ticketSearchDTO.adultPassengerNumber}">
                <a>Child: </a><input type="number" name="child" th:min="0" th:max="3" th:field="${ticketSearchDTO.childPassengerNumber}">
                <a>Baby: </a><input type="number" name="baby"   th:min="0" th:max="1" th:field="${ticketSearchDTO.babyPassengerNumber}"></br>
                <label>Class: </label></br>
                <input type="checkbox" th:field="${ticketSearchDTO.economyClass}" th:value="${true}" th:checked><a>-Phổ thông - Bay tiết kiệm, đáp ứng mọi nhu cầu cơ bản</a></br>
                <input type="checkbox" th:field="${ticketSearchDTO.specialEconomyClass}" th:value="${true}" ><a>-Phổ thông đặc biệt - Chi phí hợp lý với bữa ăn ngon và chỗ để chân rộng rãi.</a></br>
                <input type="checkbox" th:field="${ticketSearchDTO.businessClass}" th:value="${true}" ><a>-Thương gia - Bay đẳng cấp, với quầy làm thủ tục và khu ghế ngồi riêng.</a></br>
                <input type="checkbox" th:field="${ticketSearchDTO.firstClass}" th:value="${true}" ><a>-Hạng nhất - Hạng cao cấp nhất, với dịch vụ 5 sao được cá nhân hoá.</a></br>
                <input type="submit" value="Search">
            </fieldset>
        </form>
    </div>
<!--    <button type="button" th:onclick="showAlert()">Show Alert</button>-->
</header>

</body>
</html>