<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Flight Booking</title>

</head>
<body>
<header>
    <div class="nav-list">
        <a>Flight Booking</a>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Log In</a>
            <a th:href="@{/signup}">Sign Up</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log Out</a>
        </div>
        <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        </div>
    </div>
        <!--    &nbsp;-->
<!--    <i><span sec:authentication="principal.authorities">Roles</span></i>-->


    <div>
        <form action="#" th:action="@{/search}" th:object="${ticketSearchDTO}" method="get">
            <fieldset>

                <div >
                    <legend>Flight booking</legend>
                        <label>From:</label>
                        <select th:field="${ticketSearchDTO.departureAirportCode}">
                            <option th:each="airport : ${airports}"
                                    th:value="${airport.code}"
                                    th:selected="${airport.code}"
                                    th:text="${airport.city}+' - '+${airport.name}">
                            </option>
                        </select></br>
                        <label>To:</label>
                        <select th:field="${ticketSearchDTO.arrivalAirportCode}">
                            <option th:each="airport : ${airports}"
                                    th:value="${airport.code}"
                                    th:selected="${airport.code}"
                                    th:text="${airport.city}+'-'+${airport.name}">
                            </option>
                        </select></br>
                </div>
                <label for="departure-time">Departure time:</label>
                <input type="date" th:field="${ticketSearchDTO.departureTime}"  id="departure-time"
                       th:min="2022-01-01" th:max="2022-12-31" th:required="required"></br>

                <label for="arrival-time">Arrival time:</label>
                <input type="date" th:field="${ticketSearchDTO.arrivalTime}"   id="arrival-time"
                       th:min="2022-01-01" th:max="2022-12-31" th:required="required"></br>
                <label>Number of passenger:</label></br>
                <a>Adult: </a><input type="number" name="adult" th:required="required"
                                     th:min="1" th:max="9" th:field="${ticketSearchDTO.adultPassengerNumber}" th:onKeyDown="return false">
                <a>Child: </a><input type="number" name="child"
                                     th:min="0" th:max="3" th:field="${ticketSearchDTO.childPassengerNumber}" th:onkeydown="return false">
                <a>Baby: </a><input type="number" name="baby"
                                     th:min="0" th:max="1" th:field="${ticketSearchDTO.babyPassengerNumber}" th:onkeydown="return false"></br>
                <label>Class: </label></br>
                <div >
                    <input type="checkbox" th:field="${ticketSearchDTO.economyClass}"><a th:text="${flightClass.get(0).description}" ></a></br>
                    <input type="checkbox" th:field="${ticketSearchDTO.specialEconomyClass}" ><a th:text="${flightClass.get(1).description}"></a></br>
                    <input type="checkbox" th:field="${ticketSearchDTO.businessClass}" ><a th:text="${flightClass.get(2).description}"></a></br>
                    <input type="checkbox" th:field="${ticketSearchDTO.firstClass}"  ><a th:text="${flightClass.get(3).description}"></a></br>
                </div>
               <input type="submit" value="Search" th:onclick="validateCheckboxes()">
            </fieldset>
        </form>
    </div>
</header>

</body>
</html>

<!--<label class="switch">-->
<!--    <input class="switch-input" type="checkbox" onclick="showDiv()" />-->
<!--    <span class="switch-label" ></span>-->
<!--    <span class="switch-handle"></span>-->
<!--</label>-->
<!--<script type="text/javascript" th:src="@{/js/actions.js}"></script>-->
<!--    <button type="button" th:onclick="showAlert()">Show Alert</button>-->
