<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>Flight Booking</title>

</head>
<body>
<header>
        <div class="nav-list">
            <a>Flight Booking</a>
            <a th:href="@{/login}">Log In</a>
            <a th:href="@{/join}">Sign Up</a>
        </div>

    <div>
        <form action="#" th:object="${ticket}">
            <fieldset>
                <legend>Flight booking</legend>
                <label>From:</label>
                <select>
                    <option th:each="location : ${locations}"
                            th:value="${location.code}"
                            th:selected="${location.id}"
                            th:text="${location.city}+'-'+${location.airport}">
                    </option>
                </select></br>
                <label>To:</label>
                <select>
                    <option th:each="location : ${locations}"
                            th:value="${location.code}"
                            th:selected="${location.id}"
                            th:text="${location.city}+'-'+${location.airport}">
                    </option>
                </select></br>
                <label>Departure time:</label>
                <input type="date" th:field="${ticket.departureTime}" id="departuretime" ></br>
                <label for="arrivaltime">Departure time:</label>
                <input type="date" th:field="${ticket.arrivalTime}" id="arrivaltime" ></br>
                <label>Number of passenger:</label></br>
                <a>Adult: </a><input type="number" name="adult" min="1" max="5" value="1" >
                <a>Child: </a><input type="number" name="child" min="0" max="5" value="0" >
                <a>Baby: </a><input type="number" name="baby" min="0" max="5" value="0" ></br>
                <label>Class: </label></br>
                <input type="checkbox" checked ><a>-Phổ thông - Bay tiết kiệm, đáp ứng mọi nhu cầu cơ bản</a></br>
                <input type="checkbox"  ><a>-Phổ thông đặc biệt - Chi phí hợp lý với bữa ăn ngon và chỗ để chân rộng rãi.</a></br>
                <input type="checkbox"  ><a>-Thương gia - Bay đẳng cấp, với quầy làm thủ tục và khu ghế ngồi riêng.</a></br>
                <input type="checkbox"  ><a>-Hạng nhất - Hạng cao cấp nhất, với dịch vụ 5 sao được cá nhân hoá.</a></br>
                <input type="submit" value="Search">
            </fieldset>
        </form>
    </div>
</header>

</body>
</html>