<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Flight Booking</title>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontAwesome.css}">
    <link rel="stylesheet" th:href="@{/css/slideshow.css}">
    <link crossorigin="anonymous" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}">
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}">

</head>
<body>
<div class ="logo1"><a th:href="@{/}"><img th:src="@{../img/logo.png}"></a></div>
<nav class = "nav-one flex">
    <ul class="middle flex">
        <li><a href="#">Support</a></li>
        <li><a href="#">Language</a></li>
    </ul>
    <ul sec:authorize="!isAuthenticated()" class="right flex" >
        <li><a th:href="@{/login}">Sign In</a></li>
        <li><a th:href="@{/signup}">Sign Up</a></li>
    </ul>
    <ul sec:authorize="isAuthenticated()" class="right flex welcome-user" >
        <li>
            <p sec:authorize="isAuthenticated()" style="padding-top: 5px">Welcome <span sec:authentication="name" style="text-decoration: underline";>Username</span></p>
        </li>
        <li><a th:href="@{/logout}">Log Out</a></li>
    </ul>
</nav>
<nav class="nav-second flex">
    <div class="brand-name" onclick="location.href='#';" style="cursor: pointer;">
        <h1>H-AIRLINES</h1>
        <p>HANU Flight Booking System</p>
    </div>
    <ul class="flex">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/admin}">About</a></li>
        <li><a th:href="@{/booking}">Booking</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Check in</a></li>
    </ul>
</nav>

    <form th:object="${ticketSearchDTO}" class="container4">
        <div class="non-float">
        <div class="mini-row">
            <h2>Customer Information</h2>
            <select>
                <option th:text="'Male'" selected></option>
                <option th:text="'Female'"></option>
            </select>
            <input type="text" placeholder="Full name">
        </div>

        <div class="mini-row">
            <h2>Contact information</h2>
            <a>Reservation code will be sent to the contact information below</a></br>
            <select>
                <option th:text="'Mr'" th:selected="'Male'"></option>
                <option th:text="'Mrs'"></option>
                <input type="text " placeholder="Full name" style="margin: 10px 0px">

                <input type="text"style="margin: 10px 0px" placeholder="Phone number">
                <input type="email"style="margin: 10px 0px" placeholder="Email">
            </select>
        </div>

        <div class="mini-row checkboxx">
            <h2>Buy insurance</h2>
            <input type="checkbox"><a th:text="'Buy insurance(30.000đ/person)'" style="padding-bottom: 7px"></a>
            <a th:text="'x ' + (*{adultPassengerNumber} + *{childPassengerNumber})+' person'"style="padding-bottom: 7px"></a>
        </div>


            <div class="submit-continue">
                <a class="seat-check" th:href="@{/seat}" style="text-decoration: none;color: #ffffff; text-align: center"> Check your seats</a>
            <input type="submit" value="Continue"></div>
        </div>
        <div class="flex-price">
            <div class="price-detail">
            <h3>Price details</h3>
                <div class="multi-row"><a th:text="'Adult x'+ *{adultPassengerNumber}"></a><a th:text="(*{adultPassengerNumber}*360000) + 'đ'"></a></div>
                <div class="multi-row"><a th:text="'Child x'+ *{childPassengerNumber}"></a><a th:text="(*{adultPassengerNumber}*250000) + 'đ'"></a></div>
                <div class="multi-row"> <a th:text="'Baby x'+ *{babyPassengerNumber}"></a><a th:text="'FREE'"></a></div>
                <div class="multi-row"><a th:text="'Airport taxes and fees'"></a><a th:text="160000 + 'đ'"></a></div>
                <div class="multi-row"><a th:text="'Service charge'"></a><a th:text="35000 + 'đ'"></a></div>
                <div class="multi-row"><a th:text="'Tổng giá chiều đi'"></a><a th:text="(*{adultPassengerNumber}*360000+ *{adultPassengerNumber}*250000 + 160000+35000) + 'đ'"></a></div>
                <hr style="height: 4px;
    background-color: #949393;
}
">
                <div class="multi-row"><h1 th:text="'Total   '"></h1><h2 th:text="(*{adultPassengerNumber}*360000+ *{adultPassengerNumber}*250000 + 160000+35000) + 'đ'"></h2></div>







            </div>
        </div>


    </form>


<footer class = "footer">
    <div class ="container2">
        <div class = "row2">
            <div class="special">
                <h1>Don't Miss Out</h1>
                <p> Enter email for our latest news and promos.<br>Chance to win free flight coupons.</p>
                <br>
                <input type ="email" id="email_input" placeholder="Email address"><br>
                <input type ="submit" class="submit">
                <h2>H-AIRLINES</h2>
                <p>Km9, Nguyen Trai, Nam Tu Liem, Hanoi City</p><br><p>+84 912 783 623</p>
            </div>
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter-square"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="">Manage Flight</a></li>
                    <li><a href="">Flight Booking</a></li>
                    <li><a href="">Check In</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Support</h4>
                <ul>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Refund</a></li>
                </ul>
            </div>
        </div>
        <hr style="height:4px;border-width:0;color:gray;background-color:gray">
        <div class="copy-right">
            <h3>Copyright @SQA Project 2022</h3>
        </div>
    </div>
</footer>
</body>
</html>