<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Account Register</h1>
    <form action="#" th:action="@{/join}" th:object="${registerdto}" method="post">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"  class="error"/>
        <label for="username">User name:</label>
        <input type="text" id="username" placeholder="User name" name="username" th:field="${registerdto.username}"></br>

        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"  class="error"/>
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" name="password" th:field="${registerdto.password}"></br>

        <p th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"  class="error"/>
        <label for="fullname">Full Name:</label>
        <input type="text" id="fullname" placeholder="Full Name" name="fullname" th:field="${registerdto.fullname}"></br>

        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"  class="error"/>
        <label for="phone">Phone number:</label>
        <input type="number" id="phone" placeholder="0123456789" name="phone" th:field="${registerdto.phone}"></br>

        <label >Gender:</label>
        <input type="radio"  th:field="${registerdto.gender}" th:value="${true}"  th:text="Male" checked>
        <input type="radio"  th:field="${registerdto.gender}" th:value="${false}" th:text="Female"></br>

        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  class="error"/>
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="email" name="email"  th:field="${registerdto.email}"></br>

        <label for="dateofbirth">Date of birth:</label>
        <input type="date" id="dateofbirth" name="dateofbirth" th:field="${registerdto.dateofbirth}" required></br>
        <div th:if="*{status}" class="error">Username already exist!</div>
        <input type="submit" value="REGISTER">

    </form>
<form action="#" th:action="@{/login}" method="get">
    <input type="submit"  value="Log In">
</form>
</body>
</html>
