<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>Flight Booking</title>

</head>
<body>
    <div class="nav-list">
        <a>Flight Booking</a>
        <a th:href="@{/login}">Log In</a>
        <a th:href="@{/join}">Sign Up</a>
    </div>

    <div>
        <form action="#" th:action="@{/search}" th:object="${ticketSearchDTO}" method="get">
            <fieldset>
                <div>
                    <legend>Flight booking</legend>
                    <label>From:</label>
                    <select th:field="${ticketSearchDTO.departureAirportCode}">
                        <option th:each="airport : ${airports}"
                                th:value="${airport.code}"
                                th:selected="${airport.code}"
                                th:text="${airport.city}+'-'+${airport.name}">
                        </option>
                    </select></br>
                    <label>To:</label>
                    <select th:field="${ticketSearchDTO.arrivalAirportCode}">
                        <option th:each="airport : ${airports}"
                                th:value="${airport.code}"
                                th:selected="${airport.code}"
                                th:text="${airport.city}+'-'+${airport.name}">
                        </option>
                    </select></br>
                </div>
                <label for="departuretime">Departure time:</label>
                <input type="date" th:field="${ticketSearchDTO.departureTime}"  id="departuretime"></br>
                <label for="arrivaltime">Arrival time:</label>
                <input type="date" th:field="${ticketSearchDTO.arrivalTime}"   id="arrivaltime"></br>
                <label>Number of passenger:</label></br>
                <a>Adult: </a><input type="number" name="adult" th:min="1" th:max="9" th:field="${ticketSearchDTO.adultPassengerNumber}">
                <a>Child: </a><input type="number" name="child" th:min="0" th:max="3" th:field="${ticketSearchDTO.childPassengerNumber}">
                <a>Baby: </a><input type="number" name="baby"   th:min="0" th:max="1" th:field="${ticketSearchDTO.babyPassengerNumber}"></br>
                <label>Class: </label></br>
                <input type="checkbox" th:field="${ticketSearchDTO.economyClass}" th:value="${true}"><a>-Phổ thông - Bay tiết kiệm, đáp ứng mọi nhu cầu cơ bản</a></br>
                <input type="checkbox" th:field="${ticketSearchDTO.specialEconomyClass}" th:value="${true}" ><a>-Phổ thông đặc biệt - Chi phí hợp lý với bữa ăn ngon và chỗ để chân rộng rãi.</a></br>
                <input type="checkbox" th:field="${ticketSearchDTO.businessClass}" th:value="${true}" ><a>-Thương gia - Bay đẳng cấp, với quầy làm thủ tục và khu ghế ngồi riêng.</a></br>
                <input type="checkbox" th:field="${ticketSearchDTO.firstClass}" th:value="${true}" ><a>-Hạng nhất - Hạng cao cấp nhất, với dịch vụ 5 sao được cá nhân hoá.</a></br>
                <input type="submit" value="Search">
            </fieldset>
        </form>
    </div>
    <div th:each="ticket  : ${tickets}">
        <fieldset>
                <div>
                    <img th:src="${ticket.getAirline.imgAPI}" style="height: 30px; width: 94px">
                    <a th:text="${ticket.getAirline.name}"></a>
                    <a th:text="${ticket.airplane}"></a>
                </div>
                <div th:text="${ticket.departureTime.toGMTString()}"></div><a th:text="${ticket.departureAirport.code}"/>
                <div th:text="${ticket.arrivalTime.toGMTString()}"></div><a th:text="${ticket.arrivalAirport.code}"/>
                <div>
                    Estimate time:
                    <a th:text="${ticket.estimatedTime}"></a>
                </div>
                <div>
                    <a th:text="${ticket.flightClass.name}"></a>
<!--                    <img th:src="" style="height: 30px; width: 30px">-->
                    <a>Hand Luggage:</a>
                    <a th:text="${ticket.handLuggage} +'kg'"></a>
                    <a>Registered Luggage:</a>
                    <a th:text="${ticket.registeredLuggage}+'kg'"></a>
                    <a>Cost: </a>
                    <a th:text="${ticket.cost}+'đ'"></a>
                </div>
            <form action="#" th:action="'/booking/' + ${ticket.id}" th:object="${ticketSearchDTO}" method="get">
                <input type="hidden" th:field="${ticketSearchDTO.departureAirportCode}">
                <input type="hidden" th:field="${ticketSearchDTO.arrivalAirportCode}">
                <input type="hidden" th:field="${ticketSearchDTO.departureTime}"></br>
                <input type="hidden" th:field="${ticketSearchDTO.arrivalTime}"></br>
                <input type="hidden" th:field="${ticketSearchDTO.adultPassengerNumber}">
                <input type="hidden" name="child" th:min="0" th:max="3" th:field="${ticketSearchDTO.childPassengerNumber}">
                <input type="hidden" name="baby"   th:min="0" th:max="1" th:field="${ticketSearchDTO.babyPassengerNumber}">
                <input type="hidden" th:field="${ticketSearchDTO.economyClass}" th:value="${true}">
                <input type="hidden" th:field="${ticketSearchDTO.specialEconomyClass}" th:value="${true}" >
                <input type="hidden" th:field="${ticketSearchDTO.businessClass}" th:value="${true}" >
                <input type="hidden" th:field="${ticketSearchDTO.firstClass}" th:value="${true}" >
                <input type="submit" value="Select">
            </form>
        </fieldset>
    </div>

</body>
</html>